{{- if eq .chezmoi.osRelease.id "opensuse-tumbleweed" -}}

#!/bin/bash

# Before starting, make sure chezmoi and git are installed,
# and grab key with ssh-keygen -K
# Then SET THE HOSTNAME

# Move to home directory
cd ~/

### Install packages

# Get the Proton Mail Bridge rpm
curl --output protonmail-bridge.rpm https://proton.me/download/bridge/protonmail-bridge-3.8.1-1.x86_64.rpm

# Get the 1Password repository, following directions from:
# https://support.1password.com/install-linux/#suse-linux-or-opensuse
sudo rpm --import https://downloads.1password.com/linux/keys/1password.asc
sudo zypper addrepo https://downloads.1password.com/linux/rpm/stable/x86_64 1password

# If laptop, get xremap. Need to visudo to run without password
{{ if eq .chezmoi.hostname "laptop" }}
wget https://github.com/k0kubun/xremap/releases/download/v0.8.14/xremap-linux-x86_64-sway.zip
unzip xremap-linux-x86_64-sway.zip
sudo mv xremap /usr/local/bin/
rm xremap-linux-x86_64-sway.zip
{{ end }}

# List of packages to install
packages=(
    "1password"
    "MozillaFirefox"
    "MozillaThunderbird"
    "bat"
    "cmake"
    "dejavu-fonts"
    "eza"
    "fd"
    "ffmpeg-6"
    "fish"
    "fnott"
    "foot"
    "fuzzel"
    "fzf"
    "gammastep"
    "gcc"
    "gcc-c++"
    "gdb"
    "gh"
    "git-delta"
    "gnome-calculator"
    "gnome-keyring"
    "gstreamer-plugin-openh264"
    "htop"
    "lazygit"
    "libnotify-tools"
    "make"
    "nemo"
    "neovim"
    "noto-sans-fonts"
    "noto-serif-fonts"
    "ripgrep"
    "starship"
    "symbols-only-nerd-fonts"
    "zathura"
)

packagestring="${packages[*]}"

echo "Installing packages!"

sudo zypper --non-interactive in $packagestring

# Remove pre-installed alacritty
sudo zypper rm alacritty

# Need to do bridge separately because one of the dependencies is missing
# and it needs to be manually confirmed
sudo zypper in protonmail-bridge.rpm
rm protonmail-bridge.rpm

echo "Package install finished!"

### Configuration

# Change shell to fish
chsh --shell "$(which fish)"

# Enable bat color scheme
bat cache --build

# Have fzf configured
curl --output install https://raw.githubusercontent.com/junegunn/fzf/master/install
bash install
rm install
# Remove this directory that the install script sets up
rm -r bin/
# The install script also adds stuff to path that I don't want
sed -i '//home/mango/bin/d' /home/mango/.config/fish/fish_variables
set -gx $fish_user_paths

# Reboot
systemctl reboot

{{- end -}}
