{{- if eq .chezmoi.osRelease.id "ubuntu" -}}

#!/bin/bash

# Before starting, make sure chezmoi, git, and curl are installed,
# and grab key with ssh-keygen -K

### Install packages

# Note: just a setup for CLI tools. Not using it as an actual desktop

# Get the release of git-delta from GitHub
wget https://github.com/dandavison/delta/releases/download/0.16.5/git-delta_0.16.5_amd64.deb

# List of packages to install
packages=(
    "1password"
    "bat"
    "cmake"
    "exa"
    "fd"
    "ffmpeg-5"
    "fish"
    "fnott"
    "foot"
    "fuzzel"
    "fzf"
    "gammastep"
    "gcc"
    "gcc-c++"
    "gdb"
    "gh"
    "htop"
    "lazygit"
    "make"
    "make"
    "nemo"
    "neovim"
    "ripgrep"
    "starship"
)

packagestring="${packages[*]}"

echo "Installing packages!"

sudo apt install --yes $packagestring

# Link fd, because of apt
cd /usr/local/bin/
sudo ln -s $(which fdfind) fd
cd

echo "Package install finished!"

### Configuration

# Change shell to fish
chsh --shell "$(which fish)"

# Reboot
systemctl reboot

{{- end -}}
