{
    "layer": "top",
    "position": "top",
    // Must not be touched, all the css depends on this lol
    "height": 36,
    "modules-left": ["sway/workspaces"],
    "modules-center": ["sway/window"],
    {{ if eq .chezmoi.hostname "server" }}
    "modules-right": ["sway/scratchpad", "clock"],
    {{ else if eq .chezmoi.hostname "laptop" }}
    "modules-right": ["sway/scratchpad", "battery", "network", "clock"],
    {{ end }}
    "clock": {
        // Must start with a ':'
        "format": "{:%a %m-%d %H:%M}",
        "tooltip": false
    },
    "sway/workspaces": {
        "disable-scroll": true,
        "disable-click": true,
        "format": "{name}",
    },
    "sway/window": {
        // Center
        "align": 0.5,
    },
    "sway/scratchpad": {
        // I don't want 0 showing up
        "show-empty": true,
        "format": "{icon}",
        // This is done so the icon doesn't suddently disappear
        "format-icons": ["", "", ""]
    },
    {{ if eq .chezmoi.hostname "laptop" }}
    "battery": {
        "align": 0.5,
        "tooltip": false,
        "interval": 10,
        "states": {
            "warning": 30,
            "critical": 10
        }
    },
    "network": {
        "format-wifi": "󰖩",
        "format-disconnected": "󰖪",
        "tooltip": false
    }
    {{ end }}
}
