[main]
    {{ if eq .chezmoi.hostname "laptop" }}
    font=Input:size=8
    {{ else if eq .chezmoi.hostname "server" }}
    font=Input
    {{ end }}
    prompt="❯ "
    terminal=foot
    tabs=4
    horizontal-pad=30
    vertical-pad=10
    inner-pad=10
    # This is so it can appear above fullscreen
    layer=overlay

[colors]
    background=#2f334ddd
    border=fca7eaff
    text=c8d3f5ff
    match=ff966cff
    selection=c3e88dff
    selection-match=ff966cff
    selection-text=1e2030ff

[border]
    width=3
    radius=10

[key-bindings]
    delete-prev-word=Control+BackSpace Control+w
    delete-line=Control+u
    prev-with-wrap=Control+k
    next-with-wrap=Control+j
