# Set variables
set {
    # Use super key
    $mod Mod4
    $left h
    $down j
    $up k
    $right l
    # Use foot terminal
    $term foot
    # Use fuzzel as launcher
    $menu fuzzel
    $maindisp 'ViewSonic Corporation XG270QG #ASNJN+d71tXd'
    $auxdisp 'Ancor Communications Inc VG248 J5LMQS170229'
}

{{ if eq .chezmoi.hostname "server" }}
# No mouse acceleration
input type:pointer {
    accel_profile "flat"
    pointer_accel 0
}
{{ end }}

{{ if eq .chezmoi.hostname "server" }}
# Display outputs
# VG248 on the left, XG270QG on the right
output {
    $auxdisp position 0 0
    $maindisp position 1920 0
}
{{ end }}

{{ if eq .chezmoi.hostname "laptop" }}
input 1739:0:Synaptics_TM3289-002 natural_scroll enabled
{{ end }}

# Set a wallpaper
# output * bg /home/mango/Documents/Holy_SURP_Hovhannes_Church.jpg stretch

# Hold super key to move and resize with mouse buttons
# "floating" is a little misleading
floating_modifier $mod

# Style with TokyoNight colors
default_border pixel 3
default_floating_border pixel 3
client.focused #7ca1f2 #7ca1f2 #1E2030 #65BCFF #7ca1f2
client.focused_inactive #1B1D2B #222436 #C8D3F5 #65BCFF #222436
client.unfocused #1B1D2B #222436 #C8D3F5 #65BCFF #222436

# Make sure workspaces 2 and 10 stay on second monitor, all others on main
workspace {
    1 output $maindisp
    2 output $maindisp
    3 output $maindisp
    4 output $maindisp
    5 output $maindisp
    6 output $maindisp
    7 output $auxdisp
    8 output $auxdisp
    9 output $auxdisp
    10 output $auxdisp
}

# Key bindings
bindsym {
    # Config debug binds
    $mod+m border toggle

    # Screenshot area on screen into clipboard
    $mod+Shift+s exec grim -g "$(slurp)" - | wl-copy

    # Clear most urgent notification
    $mod+n exec fnottctl dismiss
    # Clear all notifications
    $mod+Shift+n exec fnottctl dismiss all

    # Open terminal and fuzzel
    $mod+Return exec $term
    $mod+d exec $menu

    # Close app
    $mod+Shift+q kill

    # Quit sway
    $mod+Shift+e exec 'swaymsg exit'
    $mod+Shift+c reload

    # Changing focus
    $mod+$left focus left
    $mod+$down focus down
    $mod+$up focus up
    $mod+$right focus right
    $mod+o focus output right

    # Moving
    $mod+Shift+$left move left
    $mod+Shift+$down move down
    $mod+Shift+$up move up
    $mod+Shift+$right move right

    # Changing workspaces
    $mod+1 workspace 1
    $mod+2 workspace 2
    $mod+3 workspace 3
    $mod+4 workspace 4
    $mod+5 workspace 5
    $mod+6 workspace 6
    $mod+7 workspace 7
    $mod+8 workspace 8
    $mod+9 workspace 9
    $mod+0 workspace 10

    # Moving to workspaces
    $mod+Shift+1 move container to workspace number 1
    $mod+Shift+2 move container to workspace number 2
    $mod+Shift+3 move container to workspace number 3
    $mod+Shift+4 move container to workspace number 4
    $mod+Shift+5 move container to workspace number 5
    $mod+Shift+6 move container to workspace number 6
    $mod+Shift+7 move container to workspace number 7
    $mod+Shift+8 move container to workspace number 8
    $mod+Shift+9 move container to workspace number 9
    $mod+Shift+0 move container to workspace number 10

    # Layout controls
    $mod+v split horizontal
    $mod+b split vertical
    $mod+w layout tabbed
    $mod+e layout toggle split
    $mod+f fullscreen
    $mod+Shift+space floating toggle
    $mod+space focus mode_toggle
    $mod+a focus parent
    $mod+z focus child

    # Scratchpad
    $mod+Shift+minus move to scratchpad
    $mod+minus scratchpad show
}

# Execs
exec {
    # Stop GTK apps taking forever to start
    systemctl --user import-environment SWAYSOCK WAYLAND_DISPLAY

    # Enable polkit agent
    /usr/libexec/polkit-gnome-authentication-agent-1

    # Lock screen after 10 min inactivity
    # Turn off displays after 15 min inactivity
    swayidle timeout 600 'swaylock -c 222436' \
        timeout 900 'swaymsg "output * power off"' \
            resume 'swaymsg "output * power on"' \
                before-sleep 'swaylock -c 222436'

    # flux basically, longitutde is negative for NA
    gammastep -l '42.7:-73.8'

    # Notification daemon
    fnott

    # Status bar
    waybar

    # Start Proton Mail Bridge in non-interactive mode (will prompt keyring pw)
    protonmail-bridge -n

    # Move to workspace 10, then open Discord and Thunderbird
    swaymsg 'workspace 10; \
        exec thunderbird; \
        exec firefox "discord.com"; \
        workspace 1'
}
